* {
  margin: 0;
  padding: 0;
  font-family: Bayon, Poppins;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

:root {
  --on-primary: #f9e9d1;
  --primary: #f9c42c;
  --secondary: #dc2510;
  --on-secondary: #2e0b07;
  --on-secondary-60: rgba(46, 11, 7, 0.6);
  --tertiary: #56cfc9;
}

::-webkit-scrollbar {
  display: none;
}

.sec-container {
  min-height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.home-sec {
  min-height: 100vh;
  background-color: var(--primary);
  position: relative;
}

.home-sec .content-layer {
  padding: 6rem 8rem;
  position: absolute;
  z-index: 1;
  width: fill-available;
  height: fill-available;
}

.home-sec .content-layer .nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.home-sec .content-layer .nav .logo {
  color: var(--on-primary);
  font-size: 2rem;
}

.home-sec .content-layer .nav .contact-btn {
  color: var(--on-primary);
  background-color: var(--on-secondary-60);
  font-size: 1.1rem;
  padding: 0.3rem 30px;
  border-radius: 3rem;
}

.home-sec .content-layer .body {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

.home-sec .content-layer .body .header {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.home-sec .content-layer .body .header .title {
  font-size: 5.5rem;
  line-height: 5.5rem;
  color: var(--on-primary);
  text-shadow: 5px 5px var(--secondary);
}

.home-sec .content-layer .body .header .description {
  font-family: Poppins;
  font-size: 1.82rem;
  line-height: 1.82rem;
  color: var(--on-primary);
}

.home-sec .content-layer .body .footer {
  position: relative;
  bottom: 0;
  top: auto;
  left: 0;
  display: flex;
  flex-direction: column;
}

.home-sec .content-layer .body .footer .a {
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 0.6rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px var(--on-primary);
  opacity: 0.6;
}

.home-sec .content-layer .body .footer .b {
  font-size: 10.4rem;
  line-height: 7.2rem;
  color: var(--on-primary);
  opacity: 0.6;
}

.home-sec .bg-layer {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.home-sec .bg-layer img {
  height: 100%;
}
.home-sec .mouth {
  animation-name: mymove;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}

@keyframes mymove {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(10px, 25px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  65% {
    transform: translate(10px, 25px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(10px, 25px);
  }
}

.home-sec > .words {
  transform-origin: center right;
  position: relative;
  transform: rotate(-9deg) translateY(-50%) translateX(20px);
  right: 550px;
  top: 500px;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 10;
  font-size: 8rem;
  line-height: 6rem;
}

.home-sec .words span {
  font-family: "Racing Sans One", cursive;
  color: var(--on-secondary);
}

.description-sec {
  background-color: var(--on-primary);
  display: flex;
  flex-direction: column;
}

.description-sec > .row {
  min-height: 100vh;
}

.algorithm-sec {
  background-color: var(--on-primary);
}

.about-sec {
  background-color: var(--on-primary);
}

.about-sec > .row {
  min-height: 100vh;
}

.about-sec > .row > .row > .title {
  font-size: 3rem;
  line-height: 2rem;
  color: var(--on-secondary);
  text-align: center;
}

.about-sec > .row > .row .title-variant {
  color: var(--secondary);
}

.about-sec > .row > .row > .description {
  font-size: 1.3rem;
  font-family: Poppins;
  color: var(--on-secondary);
  text-align: center;
}
