:root {
  --on-primary: #f9e9d1;
  --primary: #f9c42c;
  --secondary: #dc2510;
  --on-secondary: #2e0b07;
  --on-secondary-60: rgba(46, 11, 7, 0.6);
  --tertiary: #56cfc9;
}

.custom-navbar {
  position: fixed;
  padding: 3.5rem 0rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.custom-navbar .row {
  position: relative;
}

.col {
  text-align: center;
}

.nav-item {
  margin: 0rem 2.2rem;
  position: relative;
}
.nav-item > a{
  text-decoration: none;
  color: var(--on-secondary);
}

.nav-item-dot{
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 99px;
  background-color: var(--on-secondary);
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}
