.font-aborder {
  --a-color: #f9c42c;
  text-shadow: 4px 0 var(--a-color), -4px 0 var(--a-color), 0 4px var(--a-color),
    0 -4px var(--a-color), 1px 1px var(--a-color), -3px -3px var(--a-color),
    3px -3px var(--a-color), -3px 3px var(--a-color);
}

.font-bborder {
  --b-color: #f9e9d1;
  text-shadow: 4px 0 var(--b-color), -4px 0 var(--b-color), 0 4px var(--b-color),
    0 -4px var(--b-color), 1px 1px var(--b-color), -3px -3px var(--b-color),
    3px -3px var(--b-color), -3px 3px var(--b-color);
}
