* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Poppins;
}

:root {
  --on-primary: #F9E9D1;
  --primary: #f9c42c;
  --secondary: #DC2510;
  --on-secondary: #2e0b07;
  --tertiary: #4bc4be;
}

.head-container {
  background-color: var(--primary);
  width: 100%;
  height: 100vh;
}

.intro-container {
  background-color: var(--on-primary);
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
}

.sub-container1 {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sub-container2 {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro-text{
  display: flex;
  flex-direction: column;
  padding: 0px 5%;
}

.intro-text .title {
  color: var(--primary);
  font-size: 2em;
  font-weight: 800;
  text-shadow: 3px 3px 0px var(--secondary);
}

.intro-text .desc { 
  font-size: 1em;
}

.head-title {
  color: var(--on-primary);
  padding-left: 20px;
  font-family: Vina Sans;
  font-size: 18em;
  margin: 0px;
  text-shadow: 10px 10px 0px var(--secondary);
}

.head-subtitle {
  color: var(--secondary);
  font-size: 3.5em;
  font-family: Poppins;
  margin: 0px;
  font-weight: 200;
  padding-left: 40px;
}
