* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Poppins;
}

.head-title {
  color: rgb(249,233,209);
  font-family: Vina Sans;
  font-size: 300px;
  margin: 0px;
  text-shadow: 10px 10px 0px rgb(220,37,16);
}

.head-subtitle {
  color: rgb(220,37,16);
  font-size: 70px;
  font-family: Poppins;
  margin: 0px;
  font-weight: 200;
  padding-left: 40px;
  /* WebkitTextStroke: 3px #2e0b07;
            WebkitTextStroke: 3px #cd7b39; */
}
