* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-family: Bayon, Poppins;
}

:root {
  --on-primary: #f9e9d1;
  --primary: #f9c42c;
  --secondary: #dc2510;
  --on-secondary: #2e0b07;
  --on-secondary-60: rgba(46, 11, 7, 0.6);
  --tertiary: #56cfc9;
}
.cl {
  display: inline-block;
}
.custom-link {
  border: 3px solid var(--on-secondary);
  border-radius: 999px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
}


.custom-link .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0.5rem;
}
.custom-link .text-container > .title {
  font-family: Poppins;
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: 800;
  color: var(--on-secondary);
}

.custom-link .text-container > .description {
  font-family: Poppins;
  font-size: 0.7rem;
  line-height: 0.7rem;
  color: var(--on-secondary);
}
.custom-link .profile {
  height: 50px;
  border-radius: 50%;
}

.custom-link .linkedin {
  height: 25px;
  margin: 5px;
  filter: invert(8%) sepia(11%) saturate(6984%) hue-rotate(335deg) brightness(96%) contrast(102%);
}

.custom-link .github {
  height: 35px;
  margin: 5px;
}
