* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-family: Bayon, Poppins;
}

:root {
  --on-primary: #f9e9d1;
  --primary: #f9c42c;
  --secondary: #dc2510;
  --on-secondary: #2e0b07;
  --on-secondary-60: rgba(46, 11, 7, 0.6);
  --tertiary: #56cfc9;
}

.custom-link .title{
  font-family: Poppins;
  font-weight: bold;
  color: var(--on-secondary);
}

.custom-link .description {
  font-family: Poppins;
  font-size: 0.7rem;
  line-height: 0rem;
  color: var(--on-secondary);
}
.custom-link img {
  border-radius: 50%;
}